#lesson {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
    border: 5px solid black;
}

#addButt {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
